{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}


{% block content %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p class="text-success">{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="w-50 border border-dark rounded-2 p-3">
    <h2>Log in</h2>
    <form action="#" method="post">
      <div class="form-group">
        <label for="name" class="sr-only">Name:</label>
        <input type="text" name="name" placeholder="Enter name" class="form-control mb-2" required/>
      </div>
      <div class="form-group">
        <label for="email" class="sr-only">Email:</label>
        <input type="email" name="email" placeholder="Enter email" class="form-control mb-2" required/>
      </div>

      <button type="submit" class="btn btn-success mb-2">Submit</button>
    </form>
  </div>
{% endblock %}
  